anytree==2.8.0
apparmor==3.1.3
attrs==22.2.0
cffi==1.15.1
cryptography==39.0.2
docutils==0.19
hglib==2.6.2
i3ipc==2.2.1
jedi==0.18.2
LibAppArmor==3.1.3
lxml==4.9.2
Mako==1.2.4
mallard-ducktype==1.0.2
Markdown==3.4.3
MarkupSafe==2.1.2
meson==1.0.1
Mirage==0.11.1
netsnmp-python==1.0a1
packaging==23.0
parso==0.8.3
ply==3.11
powerline-status==2.7
psutil==5.9.4
pycairo==1.23.0
pycparser==2.21
pygit2==1.11.1
Pygments==2.14.0
PyGObject==3.44.1
python-xlib==0.33
ranger-fm==1.9.3
Reflector==2021.11.20.2.41.3
six==1.16.0
team==1.0
